<%- model_class = GoalSale -%>
<div class="page-header">
  <h1><%=t '.Metas de vendedores' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:usuario_id) %></th>
      <th><%= model_class.human_attribute_name(:meta) %></th>
      <th><%= model_class.human_attribute_name(:alcanzado) %></th>
      <th><%= model_class.human_attribute_name(:fecha_de_inicio) %></th>
      <th><%= model_class.human_attribute_name(:fecha_de_fin) %></th>
      <th><%= model_class.human_attribute_name(:creado) %></th>
      <th><%=t '.Acciones', :default => t("helpers.Acciones") %></th>
    </tr>
  </thead>
  <tbody>
    <% @goal_sales.each do |goal_sale| %>
      <tr>
        <td><%= link_to goal_sale.id, goal_sale_path(goal_sale) %></td>
        <td><%= goal_sale.usuario_id %></td>
        <td><%= goal_sale.meta %></td>
        <td><%= goal_sale.alcanzado %></td>
        <td><%= goal_sale.fechainicio %></td>
        <td><%= goal_sale.fechafin %></td>
        <td><%=l goal_sale.created_at %></td>
        <td>
          <%= link_to t('.Editar', :default => t("helpers.links.Editar")),
                      edit_goal_sale_path(goal_sale), :class => 'btn btn-mini' %>
          <%= link_to t('.Eliminar', :default => t("helpers.links.Eliminar")),
                      goal_sale_path(goal_sale),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.Nueva meta', :default => t("helpers.links.Nueva meta")),
            new_goal_sale_path,
            :class => 'btn btn-primary' %>
